<!--<div class="landing-join max-w-2k mx-auto flex justify-center relative w-full background-test">-->

<!--&lt;!&ndash;  <img class="background-video absolute max-w-2k w-full object-cover z-0" src="assets/images/corsairAlFilo.png" alt="Landing Join">&ndash;&gt;-->

<!--  <div class="h-full flex flex-col justify-end">-->
<!--    <div class="join-card-wrap flex justify-end pb-32">-->
<!--      <app-join-card></app-join-card>-->
<!--    </div>-->
<!--    <div class="basic-card-wrap self-end flex justify-stretch gap-10 pb-10">-->
<!--      <app-basic-card class="flex justify-stretch parallelogram delay-200" srcImage="info_alfilo.png" title="AL FILO" body='Comunidad para disfrutar Star Citizen en compañia, con un ritmo sano.'></app-basic-card>-->
<!--      <app-basic-card class="flex justify-stretch parallelogram delay-400" srcImage="info_style.png" title="Estilo de juego" body="Somos Pro-Billete. Cumplimos los contratos. Realizamos todo tipo de actividades, un ataque a terceros debe tener un motivo económico."></app-basic-card>-->
<!--      <app-basic-card class="flex justify-stretch parallelogram delay-600" srcImage="info_join.png" title="Hazte DAGA" body="Solicita tu rango de DAGA. Obtendrás acceso a Licencias, votaciones y creación de eventos."></app-basic-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="w-full flex flex-col items-center gap-80 2xl:gap-10 relative ">
  <video #myVideo class="absolute w-full m-auto h-[85%] top-0 left-0 object-cover -z-10" autoplay loop muted playsinline src="assets/videos/video.mp4"></video>
  <img src="/assets/images/logo.svg" alt="Logo" class="w-40 pt-20"/>
  <div class="flex flex-col items-center gap-10">
    <p class="font-capital-daren text-5xl md:text-7xl lg:text-8xl xl:text-9xl text-alfilo-dark-blue">LA AVENTURA TE ESPERA</p>
    <a href="https://discord.com/invite/ADgezdG" target="_blank"
       class="btn md:btn-lg text-black ring-2 ring-white rounded-2xl font-black lg:hidden">Únete
      a AlFilo</a>
    <div class="hidden lg:block">
      <a href="https://discord.com/invite/ADgezdG" target="_blank"
         class="btn w-20 discord-anim rounded-full hover:bg-black bg-black border-0 border-white ">
        <app-svg-icon class="discord-svg w-10 h-10 svg-move absolute z-10"
                      path="assets/images/discord.svg"></app-svg-icon>
        <p class="absolute text-anim z-0">Únete a AlFilo</p>
      </a>
    </div>
    <div class="flex flex-wrap gap-5 justify-center px-10 pb-20  ">
      <app-basic-card class="flex w-full lg:max-w-xl xl:max-w-xl h-72 " srcImage="info_alfilo.png" title="AL FILO"
                      body='Comunidad para disfrutar Star Citizen en compañia, con un ritmo sano.'></app-basic-card>
      <app-basic-card class="flex  w-full lg:max-w-xl xl:max-w-xl h-72" srcImage="info_style.png"
                      title="Estilo de juego"
                      body="Somos Pro-Billete. Cumplimos los contratos. Realizamos todo tipo de actividades, un ataque a terceros debe tener un motivo económico."></app-basic-card>
      <app-basic-card class="flex w-full lg:max-w-xl xl:max-w-xl h-72 " srcImage="info_join.png" title="Hazte DAGA"
                      body="Solicita tu rango de DAGA. Obtendrás acceso a Licencias, votaciones y creación de eventos."></app-basic-card>
    </div>
  </div>
</div>



