<div class="landing-activities flex flex-col gap-40 py-10">
  <video #myVideo class="absolute sm:w-auto m-auto h-[70%] lg:w-full lg:max-h-[70%] top-0 left-0 object-cover -z-10" autoplay loop muted playsinline [src]="currentActivitiy.videoSrc"></video>
  <div>
    <p class="font-capital-daren text-[3.5rem] leading-[2rem] text-center">participa en diferentes</p>
    <p class="font-capital-daren text-[9rem] leading-[11rem] text-center">actividades</p>
    <div class="flex justify-center gap-16">
      <button class="btn text-[2.5rem] h-auto py-3 px-8 text-black font-normal font-capital-daren border-1 border-white">únete al filo</button>
      <button class="btn bg-base-300 text-[2.5rem] h-auto py-3 px-8 text-black font-normal font-capital-daren border-1 border-white">juega star citizen</button>
    </div>
  </div>
  <div class="activities-container flex lg:w-screen">
    <div class="flex flex-col md:w-screen lg:items-end lg:basis-6/12 lg:rounded-tr-2xl lg:border-t-2 lg:border-r-2 lg:mt-[8.7rem]">
      <div class="activities-wrapper flex justify-between py-3 px-10 gap-5 lg:max-w-[47rem] lg:-mt-[8.7rem]">
        <ng-template ngFor let-activity [ngForOf]="activities" let-i="index">
          <div (click)="changeCurrentActivity(activity.name)" [class.selected] = "currentActivitiy['name'] === activity.name" class="activity flex flex-col items-center text-white hover:text-base-300">
            <app-svg-icon class="svg-activity" [path]="'assets/images/activity/' + activity.name + '.svg'"></app-svg-icon>
            <div class="title-activity font-bold text-lg uppercase">{{activity.title}}</div>
            <app-svg-icon [hidden]="isCurrentActivity(activity.name)" class="svg-circle" [path]="'assets/images/circle.svg'"></app-svg-icon>
            <app-svg-icon [hidden]="!isCurrentActivity(activity.name)" class="svg-circle" [path]="'assets/images/circle-hoop.svg'"></app-svg-icon>
          </div>
        </ng-template>
      </div>
      <div class="p-10 lg:max-w-[45rem]">
        <ng-template ngFor let-activity [ngForOf]="activities" let-i="index">
          <app-basic-card [hidden]="!isCurrentActivity(activity.name)" srcImage={{activity.imageCardSrc}} title={{activity.title}} body={{activity.bodyCardSrc}}></app-basic-card>
        </ng-template>
      </div>
    </div>
  </div>
</div>
