.landing-activities {
  .activities-container {
    background: linear-gradient(transparent, 15%, black);

    @media (min-width: 1024px) {
      background: none;
    }

    .activities-wrapper {
      background: linear-gradient(180deg,
      transparent calc(83% - 1px),
      white calc(83%),
      transparent calc(83% + 1px));

      @media (min-width: 1024px) {
        background: none;
      }

      .activity {
        .svg-activity,
        .svg-circle {
          background-color: white;
        }

        .svg-activity {
          width: 5rem;
          height: 5rem;
        }

        .svg-circle {
          width: 1rem;
          height: 2rem;
        }

        &:hover {
          cursor: pointer;

          .svg-circle,
          .svg-activity {
            background-color: #8cb9ca;
          }
        }

        &.selected,
        &.selected:hover {
          .svg-activity,
          .svg-circle {
            background-color: #0394cc;
          }

          .svg-circle {
            width: 2rem;
            height: 2rem;
          }

          .title-activity {
            color: #0394cc;
          }
        }
      }
    }
  }
}
