<div class="landing-activities relative flex flex-col w-full gap-5 xs:gap-20 md:gap-40 pt-10 xs:pt-0 sm:pt-20" appObserveVisibility [stopObserving]="false"  (visible)="activateNavigation('Actividades')">
  <video #myVideo class="absolute w-full m-auto h-[85%] top-0 left-0 object-cover bg-center -z-10" autoplay loop muted playsinline [src]="currentActivitiy.videoSrc"></video>
  <div class="absolute w-full h-[85%] bg-gradient-to-b top-0 from-black to-35% -z-10"></div>
  <div>
    <p class="font-capital-daren-italic text-[2.9rem] leading-[2.5rem]
    xxs:text-[2rem] xxs:leading-[2rem]
    xs:text-[2.5rem] xs:leading-[5rem]
    sm:text-[3rem] sm:leading-[2rem]
    md:text-[3.5rem] md:leading-[2rem] lg:text-[3.5rem] lg:leading-[2rem] text-center text-shadow">participa en diferentes</p>
    <p class="font-capital-daren-italic text-[4rem] leading-[6rem] mb-3
    xxs:text-[5.8rem] xxs:leading-[6rem]
    xs:text-[7rem] xs:leading-[4rem] xs:mb-8
    sm:text-[9rem] sm:leading-[10rem]
    md:text-[9rem] md:leading-[9rem] lg:text-[9rem] lg:leading-[11rem] text-center text-shadow"  >actividades</p>
    <div class="flex flex-wrap xxs:flex-nowrap justify-center gap-5 md:gap-16">
      <a href="#contacto" class="btn text-[2rem] xxs:text-[1.3rem] xs:w-[13.2rem] md:w-[19.5rem] md:text-[2.5rem] lg:text-[2.5rem] h-auto py-3 px-8 text-black font-normal font-capital-daren border-1 border-white hover:bg-white">únete al filo</a>
      <a href="https://discord.com/invite/ADgezdG" target="_blank" class="btn bg-alfilo-blue text-[2rem] xs:w-[13.2rem] md:w-[19.5rem] xxs:text-[1.3rem] md:text-[2.5rem] lg:text-[2.5rem] h-auto py-3 px-8 text-black font-normal font-capital-daren border-1 border-white hover:bg-white">juega star citizen</button>
    </div>
  </div>
  <div class="activities-container flex mt-[8rem] xs:mt-[12rem] md:mt-[6rem] lg:mt-[0rem] xs:m-0">
    <div class="flex flex-col md:w-full lg:min-w-[754px] lg:items-end lg:basis-6/12 lg:rounded-tr-2xl lg:border-t-2 lg:border-r-2 lg:mt-[7.6rem]">
      <div class="activities-wrapper bg-line-bottom lg:bg-none grid grid-cols-3 grid-flow-row xxs:flex xxs:justify-between xxs:w-full py-5 md:py-3  px-2 xs:px-10 gap-y-5 gap-x-4 xs:gap-5 lg:max-w-[47rem] lg:-mt-[7.6rem]">
        <ng-template ngFor let-activity [ngForOf]="activities" let-i="index">
          <div (click)="changeCurrentActivity(activity.name)" [class.selected] = "currentActivitiy['name'] === activity.name" class="activity flex flex-col items-center text-white hover:text-alfilo-blue xs:gap-2 md:gap-0">
            <app-svg-icon class="svg-activity w-[10w]" [path]="'assets/images/activity/' + activity.name + '.svg'"></app-svg-icon>
            <div class="title-activity hidden lg:block text-[1.2rem] sm:text-[1rem] font-bold lg:text-lg uppercase">{{activity.title}}</div>
            <app-svg-icon [ngClass]="{'custom-hidden': isCurrentActivity(activity.name)}" class="svg-circle hidden lg:block " [path]="'assets/images/circle.svg'"></app-svg-icon>
            <app-svg-icon [ngClass]="{'custom-hidden': !isCurrentActivity(activity.name)}" class="svg-circle hidden lg:block" [path]="'assets/images/circle-hoop.svg'"></app-svg-icon>
          </div>
        </ng-template>
      </div>
      <div class="px-5 lg:p-10 lg:max-w-[45rem] h-[14rem] xs:h-[18rem] md:h-auto">
        <ng-template ngFor let-activity [ngForOf]="activities" let-i="index">
          <app-basic-card [hidden]="!isCurrentActivity(activity.name)" srcImage={{activity.imageCardSrc}} title={{activity.title}} body={{activity.bodyCardSrc}}></app-basic-card>
        </ng-template>
      </div>
    </div>
  </div>
</div>
