.landing-activities {
  height: calc(100vh - 66px);

  .background-video {
    height: calc(100vh - 66px);
  }

  .activity-option:hover .radio-info {
    background-color: #8cb9ca;
  }

  .activity-option:hover .radio-info:checked {
    background-color: #0394cc;
  }

  .svg-activity {
    background-color: white;
    width: 5rem;
    height: 5rem;

    &.checked {
      background-color: #0394cc;
    }
  }

}
