<div class="landing-contact-us w-full py-20" appObserveVisibility [stopObserving]="false"  (visible)="activateNavigation('Contacto')" >
  <div class="flex flex-col justify-center gap-10">
    <div>
      <p class="font-capital-daren-italic text-[2.5rem] leading-[4.5rem] xxxs:text-[3rem] xxxs:leading-[5rem] md:text-[3.5rem] md:leading-[2rem] text-center text-shadow">contacta con</p>
      <p class="font-capital-daren-italic text-[6rem] leading-[4rem] xxxs:text-[7rem] xxxs:leading-[6rem] md:text-[9rem] md:leading-[11rem] text-center text-shadow" >al filo</p>
    </div>
    <div class="flex justify-center flex-wrap gap-10 sm:gap-6">
      <div class="bg-alfilo-gray text-center p-10 rounded-2xl w-[95%] xxs:w-[100%] max-w-[21rem] flex flex-col gap-10 border-2 border-white">
        <div>
          <p class="font-capital-daren text-[2.3rem] leading-[2.2rem]">contrata nuestros</p>
          <p class="font-capital-daren text-[2.3rem] leading-[2.2rem]">servicios</p>
        </div>
        <div>
          <ng-template ngFor let-service [ngForOf]="services">
            <p class="text-[1.2rem] xxxs:text-2xl">- {{service}}</p>
          </ng-template>
        </div>
        <div>
          <a href="https://discord.com/invite/ADgezdG" target="_blank" class="btn font-normal text-[2rem] bg-discord border-1 border-white">
            <app-svg-icon class="discord-svg" path="assets/images/discord.svg"></app-svg-icon>
            <span class="font-capital-daren">contacta</span>
          </a>
        </div>
      </div>

      <div class="bg-alfilo-gray p-10 rounded-2xl w-[95%] xxs:w-[100%] max-w-[21rem] flex flex-col gap-10 text-center border-2 border-white">
        <div>
          <p class="font-capital-daren text-[2.3rem] leading-[2.2rem]">nuestras</p>
          <p class="font-capital-daren text-[2.3rem] leading-[2.2rem]">redes</p>
        </div>
        <div>
          <a href="https://discord.com/invite/ADgezdG" target="_blank" class="btn font-normal text-[2rem] bg-discord border-1 border-white justify-center content-center">
            <app-svg-icon class="discord-svg" path="assets/images/discord.svg"></app-svg-icon>
            <span class="font-capital-daren">discord</span>
          </a>
        </div>
        <div>
          <a href="https://robertsspaceindustries.com/spectrum/community/ALFILO" target="_blank" class="btn font-normal text-[2rem] bg-black border-1 border-white justify-center content-center">
            <img src="assets/images/logo_256.png" class="h-full p-1" alt="">
            <span class="font-capital-daren text-[1.6rem] xxxs:text-[2rem]">spectrum</span>
          </a>
        </div>
        <div>
          <a href="https://robertsspaceindustries.com" target="_blank" class="btn font-normal text-[2rem] h-[4.5rem] xxxs:h-[3rem] xxxs:text-[1.8rem] xxs:text-[2rem] font-capital-daren border-1 border-white text-black justify-center content-center">juega star citizen</a>
        </div>
      </div>
    </div>
  </div>
</div>
