.landing-contact-us {
  .nav-creators {
    .arrow-svg {
      width: 64px;
      height: 64px;

      &:hover {
        cursor: pointer;

        &>svg>path {
          @media (min-width: 768px) {
            fill: black;
          }
        }
      }
    }
  }
}

.soon-svg {
  background-color: white;
  height: 18.75rem;
  width: 22.75rem;
}

.tm-svg {
  background-color: white;
  height: 2.75rem;
  width: 2.75rem;
}
