app-landing-join,
app-landing-creators,
app-landing-activities,
app-landing-chronology,
app-landing-contact-us{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-snap-align: start;
}

.snap-y-container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 66px);

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.footer-test{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  scroll-snap-align: start;
}

