<div [@fadeInOut]="isVisible ? 'visible' : 'hidden'">
  <div class="card w-96 bg-black shadow-xl bg-opacity-75 ">
    <figure class="px-32 pt-5">
      <img src="/assets/images/logo.png" alt="Logo" class="rounded-xl" />
    </figure>
    <div class="card-body pt-5 items-center text-center ">
      <p class="pb-5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque congue tempor.</p>
      <div class="card-actions">
        <button class="btn bg-blue-500 text-black border border-white">Únete a AlFilo</button>
      </div>
    </div>
  </div>
</div>
