<div [@fadeInOut]="isVisible ? 'visible' : 'hidden'">
  <div class="card w-96 bg-base-100 shadow-xl bg-opacity-50 ">
    <figure class="px-32 pt-10">
      <img src="/assets/images/logo.png" alt="Shoes" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque congue tempor.</p>
      <div class="card-actions">
        <button class="btn btn-primary ">Únete a AlFilo</button>
      </div>
    </div>
  </div>
</div>
