<div class="navbar bg-black sticky h-10 top-0 z-50">
  <div class="navbar-start h-full lg:pl-[2rem] 2xl:pl-[10rem]">
    <img src="assets/images/logo_icono_texto.png" alt="AlFilo Logo" class="h-full hidden lg:block">
  </div>
  <div class="navbar-center h-full">
    <img src="assets/images/logo_icono_texto.png" alt="AlFilo Logo" class="h-full block lg:hidden">
  </div>
  <div class="navbar-end">
    <div class="w-5/6 hidden lg:flex justify-center">
      <div class="tabs lg:inline-flex">
        <a *ngFor="let item of navItems" href="#{{item.path}}" class="tab font-capital-daren text-[1rem] xl:text-[1.4rem] leading-[1.5rem]  hover:text-alfilo-blue rounded-lg" [ngClass]="{'text-alfilo-dark-blue' : item.active, 'text-base-content' : !item.active}">{{item.name}}</a>
        <a class="btn" (click)="login()">LOGIN</a>



      </div>
    </div>
    <div class="lg:hidden w-5/6 flex justify-end">
      <div class="dropdown relative">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-black rounded-box w-52 absolute -left-[10rem]">
<!--          <li *ngFor="let item of navItems"><a href="#{{item.path}}"  [ngClass]="{'text-alfilo-dark-blue' : item.active, 'text-base-content' : !item.active}" class="tab font-capital-daren text-[1.5rem] leading-[1rem] hover:text-alfilo-blue hover:!bg-transparent rounded-lg">{{item.name}}</a></li>-->

        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<dialog #signUpModal id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">ATENCIÓN</h3>
    <p class="py-4">{{signUpModalText}}</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
