.chronology-card {
  .radio,
  .info-wrapper {
    cursor: pointer;
  }

  .radio {
    background-color: white;
    &:hover {
      background-color: #8cb9ca;
    }
  }

  .radio-selected {
    --tw-bg-opacity: 1;
    background-color: #0394cc;
    animation: radiomark var(--animation-input, 0.2s) ease-in-out;
    box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
    &:hover {
      background-color: #0394cc;
    }
  }

  .left {
    margin-left: -0.8rem;
  }

  .right {
    margin-right: -0.8rem;
    order: 2;
  }
}
