.chronology-card {
  margin-left: -0.55rem;

  .svg-circle {
    width: 1rem;
    height: 1rem;
    background-color: white;
  }

  &.right {
    justify-content: end;
    margin-right: -0.55rem;
    .svg-circle {
      order: 2;
    }
  }
}
