.chronology-card {
  .svg-circle {
    width: 1rem;
    height: 1rem;
    background-color: white;

    &.left {
      margin-left: -0.5rem;
    }

    &.right {
      margin-right: -0.5rem;
      order: 2;
    }
  }
}
