.landing-chronology {

  .flickity-viewport {
    height: 22rem;
  }

  .event-list-lg {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
