.landing-chronology {
  height: calc(100vh - 66px);

  .title {
    font-family: 'Capital Daren';
  }

  .svg-arrow {
    background-color: white;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    &:hover {
      background-color: #0394cc;
    }
  }
}
