.landing-chronology {
  .event-list-carousel {
    .flickity-viewport {
      height: 15rem;
    }
  }

  .event-list-lg {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
