/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Capital Daren";
  src: url("assets/fonts/capital-daren-regular.ttf") format('truetype');
}
@font-face {
  font-family: "Capital Daren Italic";
  src: url("assets/fonts/capital-daren-italic.ttf") format('truetype');
}

.font-capital-daren {
  font-family: "Capital Daren", sans-serif;
}
.font-capital-daren-italic {
  font-family: "Capital Daren Italic", sans-serif;
}
.custom-corusel {
  .flickity-page-dot {
    background: #8cb9ca;
    &.is-selected {
      background: #0394cc;
    }
  }
}
