/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Capital Daren";
  src: url("assets/fonts/capital-daren-regular.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: "Capital Daren Italic";
  src: url("assets/fonts/capital-daren-italic.ttf") format('truetype');
  font-display: swap;
}

.font-capital-daren {
  font-family: "Capital Daren", sans-serif;
}

.font-capital-daren-italic {
  font-family: "Capital Daren Italic", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

html{
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
