/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Capital Daren";
  src: url("assets/fonts/Capital-daren-regular.ttf") format('truetype');
}
@font-face {
  font-family: "Capital Daren Italic";
  src: url("assets/fonts/Capital-daren-italic.ttf") format('truetype');
}
